.footer {
    background-color: #0d0d0d;
    padding: 20px 40px;
    color: #aaa;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .footer-icons {
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
  }
  
  .footer-icons a {
    color: #00fcd1;
    transition: color 0.3s ease;
  }
  
  .footer-icons a:hover {
    color: #00caaa;
  }
  
  @media (min-width: 600px) {
    .footer-content {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .footer {
      text-align: left;
    }
  }
  